#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12em;
  padding: 1.5em;
}

.read-the-docs {
  color: #888;
}

a {
  color: rgb(228, 228, 228);
  line-height: 130%;
}

a:hover {
  color: rgba(228, 228, 228, 0.76);
}